---
import Base from '@layouts/Base.astro'
import SocialLink from '@components/SocialLink.astro'
import Link from '@components/Link.astro'
---

<!-- TODO: ver como poner el title y description -->
<Base title="" description="">
  <!--
  <div class="bg-indigo-600 px-4 py-3 text-white">
    <p class="text-center text-sm font-medium">
      <a href="#" target="_blank">
        Destacado
      </a>
    </p>
  </div>#394144
  -->

  <div class="flex-block max-w-xl p-4 md:pd-8 mx-auto mt-4">
    <div class="bg-white shadow overflow-hidden rounded-lg">
      <div class="px-4 py-5 sm:px-6 flex flex-col items-center">
        <div class="rounded-full h-40 w-40 overflow-hidden">
          <img
            src="https://res.cloudinary.com/dcllw95id/images/v1689339453/yonedev/yonedev_cuadrada/yonedev_cuadrada.jpg?_i=AA"
            alt="Yoné Rocha (Yonedev)"
          />
        </div>
        <div class="text-center">
          <h1 class="text-xl leading-6 font-bold text-gray-900 mt-4">Yoné Rocha</h1>
          <h2 class="text-sm leading-6 text-gray-500 mt-2">@yonedev</h2>
          <p class="mt-2 max-w-2xl text-sm text-gray-500">
            Desarrollador de software freelance.<br />Creo software con pasión, ética, empatía y
            profesionalidad.<br />#ReactNative #Nuxt #Astro #Symfony #Docker
          </p>
        </div>
      </div>
      <div class="border-t border-gray-200">
        <div class="bg-gray-200 px-4 py-5 w-full flex justify-center">
          <div class="mt-1 text-sm text-gray-900">
            <!--Creo firmemente en el poder transformador de la tecnología para
              cambiar el mundo. Reconozco el valor de la innovación y la
              creatividad como elementos clave para mejorar la calidad de vida
              tanto de las personas como de las empresas.-->
            <div class="mt-1 mb-1 space-x-4 flex justify-center">
              <SocialLink title="Linkedin" url="https://linkedin.yone.dev" iconColor="text-blue-500" iconPack="mdi" iconName="linkedin"/>
              <SocialLink title="Instagram" url="https://instagram.yone.dev" iconColor="text-[#E4405F]" iconPack="mdi" iconName="instagram"/>
              <SocialLink title="Facebook" url="https://facebook.yone.dev" iconColor="text-blue-900" iconPack="mdi" iconName="facebook"/>
              <SocialLink title="Twitter" url="https://twitter.yone.dev" iconColor="text-blue-300" iconPack="mdi" iconName="twitter"/>
              <SocialLink title="GitHub" url="https://github.yone.dev" iconColor="text-gray-900" iconPack="mdi" iconName="github"/>
            </div>
          </div>
        </div>

        <Link title="Visita mi web" icon="💻" url="https://yone.dev/" isFirstElement={true} />
        <Link title="Último artículo que he escrito" icon="✍️" url="https://yone.dev/8k1s" />
        <Link title="Fragmentos de código" icon="🧑🏻‍💻" url="https://yone.dev/snippets/" />
        <Link title="Tijarafe, desde donde trabajo" icon="🇮🇨" url="https://yone.dev/desde-donde/" />
        <Link
          title="Conectemos en Linkedin"
          icon="🧔🏻‍♂️"
          url="https://linkedin.yone.dev/"
          textColor="text-blue-600"
          textColorHover="text-blue-800"
        />
        <Link
          title="¡Escríbeme un correo!"
          icon="📧"
          url="mailto:hi@yone.dev"
          textColor="text-orange-600"
          textColorHover="text-orange-800"
        />
        <Link
          title="¡Hablemos por whatsapp!"
          icon="🤙🏻"
          url="https://whatsapp.yone.dev/"
          textColor="text-lime-600"
          textColorHover="text-lime-800"
        />
        <Link
          title="Guarda mi contacto"
          icon="📱"
          url="data:text/vcard;charset=utf-8,BEGIN%3AVCARD%0AVERSION%3A3.0%0AFN%3AYon%C3%A9%20Rocha%0AN%3ARocha%3BYon%C3%A9%3B%3B%0AORG%3AYonedev%0ATEL%3BTYPE%3DCELL%3A%2B34610353078%0AEMAIL%3BTYPE%3DPREF%2CINTERNET%3Ahi%40yone.dev%0AEND%3AVCARD"
          download="yonedev.vcf"
          textColor="text-rose-600"
          textColorHover="text-rose-800"
        />
      </div>
    </div>
  </div>
</Base>
