---
import type { FooterData } from '@utils/Interfaces'
import ThemeSwitch from '@components/ThemeSwitch.astro'

interface Props {
  siteName: string
  footerData: FooterData
}

const { siteName, footerData } = Astro.props
const current = new Date().getFullYear()
---

<footer>
  <p class="flex-block max-w-xl p-4 md:pd-8 mx-auto text-center text-sm">
    &copy; {current}&nbsp;{siteName}
    {
      footerData.creditLink && footerData.creditText && (
        <a href={footerData.creditLink} target="_blank">
          | {footerData.creditText}
        </a>
      )
    }
  </p>
  <div class="flex-block max-w-xl pb-4 md:pd-8 mx-auto text-center text-sm">
    <ThemeSwitch />
  </div>
</footer>
