---
interface Props {
	projectName: string
}

import ThemeSwitch from '@components/ThemeSwitch.astro'

const { projectName } = Astro.props
const current = new Date().getFullYear()

// TODO: translate??
---

<footer>
  <p class="flex-block max-w-xl p-4 md:pd-8 mx-auto text-center text-sm">
    &copy; {current} {projectName} | <a href="https://astro.build/" target="_blank">Powered by
    Astro</a>
  </p>
  <div class="flex-block max-w-xl pb-4  md:pd-8 mx-auto text-center">
    <!-- TODO: darkmode en config -->
    <ThemeSwitch useSystemDarkMode={false}/>
  </div>
 
</footer>