site:
  name: Yonedev
  url: 'https://localhost:3000'

# Default SEO metadata
metadata:
  title: Yoné Rocha aka Yonedev
  description: "Desarrollador de software freelance, #ReactNative #Nuxt #Astro #Symfony #Docker."
  tileColor: '#DB7B30'
  themeColor: '#ffffff'
  openGraph:
    type: website
    locale: es_ES
    image: https://res.cloudinary.com/dcllw95id/images/v1689332981/yonedev/yonedev_portada_twitter_2023_links/yonedev_portada_twitter_2023_links.jpg?_i=AA
  twitter:
    cardType: summary_large_image
    site: '@yonedev'
    image: https://res.cloudinary.com/dcllw95id/images/v1689332981/yonedev/yonedev_portada_twitter_2023_links/yonedev_portada_twitter_2023_links.jpg?_i=AA

content:
  avatar: 'https://res.cloudinary.com/dcllw95id/images/v1689339453/yonedev/yonedev_cuadrada/yonedev_cuadrada.jpg?_i=AA'
  avatarDarkMode: 'https://res.cloudinary.com/dcllw95id/images/v1690548455/yonedev/Yonedev_matrix/Yonedev_matrix.jpg?_i=AA'
  title: Yoné Rocha
  titleDarkMode: Yonedev
  subtitle: '@yonedev'
  bio: 'Desarrollador de software freelance.<br />Creo software con pasión, ética, empatía y profesionalidad.<br />#ReactNative #Nuxt #Astro #Symfony #Docker'
  bioDarkMode: 'Si tomas la pastilla azul, fin de la historia. Despertarás en tu cama y creerás lo que quieras creerte. Si tomas la roja te quedarás en el país de las maravillas y yo te enseñaré hasta donde llega la madriguera de conejos. Recuerda, lo único que te ofrezco es la verdad, nada más.<br /><br />#ReactNative #Nuxt #Astro #Symfony #Docker'

