---

---

<div class="bg-gray-200 px-4 py-5 w-full flex justify-center dark:bg-neutral-800">
  <div class="mt-1 text-sm text-gray-900">
    <div class="mt-1 mb-1 space-x-4 flex justify-center">
      <slot />
    </div>
  </div>
</div>
